{% extends 'index.html' %}
    {% block sidebar %}
        <aside class="aside bg-light dk" id="sidebar">
            <section class="vbox animated fadeInUp">
                <section class="scrollable hover">
                      <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                        <a href="#.html" class="list-group-item">
                          All
                        </a>
                        <a href="#.html" class="list-group-item">
                          blues
                        </a>
                        <a href="#.html" class="list-group-item">
                          classical
                        </a>
                        <a href="#.html" class="list-group-item">
                          country
                        </a>
                      </div>
                    </section>
                  </section>
                </aside>
        {% endblock %}
        {% block content %}
         <section>
                  <section class="vbox">
                    <section class="scrollable padder-lg">
            这是歌单页
                    </section>
                  </section>
         </section>
    {% endblock %}